<div class="blog-masthead">
    <div class="container">
        <nav class="nav">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/home']">
                <span class='glyphicon glyphicon-home'></span>Home
            </a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/counter']">
                <span class='glyphicon glyphicon-education'></span>Counter
            </a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/fetch-data']">
                <span class='glyphicon glyphicon-th-list'></span> Fetch data
            </a>
        </nav>
    </div>
</div>
